.FriendListItem {
    list-style: none;
    border: 2px solid black;
    padding: 15px 15px;
    border-radius: 5px;

    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.FriendListItemName{
    font-size: x-large;
}


.FriendListItemOnline{
    font-size: larger;
    color: green;
}


.FriendListItemOffline{
    font-size: larger;
    color: red;
}